API_ID=21519358
API_HASH=18819d72517d9a9bbc69f2fe547ea305
BOT_TOKEN=7837461489:AAE3-f_qX_LF8s4BKkrRSk9CtCmaS3dQyTQ
LOGGER_ID=-1002469461154
MONGO_DB_URI=mongodb+srv://botmaker9675208:botmaker9675208@cluster0.sc9mq8b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8101281717
STRING_SESSION=BQFIW_4ACPmUh2Wdyn4TIxQpCfY_qv9IRAHgJvGpWylNDwp2HBYbQFF3yvCgrwSjBbFkp-PSSUtmnss9FT7-FA7C5tH0PSO1j2vyl7T7RLmBxBUPUa2UOmqUdnAIxDWEjYx4T_J955QbZsTQOwG8WDcxNz9dz84fheQJKsGH14tN5Runb-8arLikwYQL9hLXAgwTrLI8fRgayUN7RL9kKpB15SB1nxKH-cCgBWAS89Sz_MOhABnjOIjuva0zcvETour_eYQen7PIEa_uY34W1mfz_gILZWNBaYI4xcurcM47SYZxwfVjvSGdovgBkM0Szhe2ftJk7SLzVe5ibwqjTTmI4X89DAAAAAHO_ADGAA
DURATION_LIMIT=999
